<navbar></navbar>

<header class="jumbotron">
	<div class="container">
		<div class="page-header">
			<h1>Add a Trail</h1>
		</div>
		<div class="row">
			<form class="form" name="trail" novalidate>
				<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
					<div class="well well-sm group-addon-danger"><strong><span class="glyphicon glyphicon-asterisk"></span> Required Field</strong></div>
					<div class="form-group">
						<label for="TrailName">Trail Name</label>
						<div class="input-group">
							<input type="text" class="form-control" name="TrailName" id="TrailName" placeholder="Trail Name" ng-model="trail.name" required>
							<span class="input-group-addon group-addon-danger"><span class="glyphicon glyphicon-asterisk"></span></span>
						</div>
					</div>
					<div class="form-group">
						<label for="TrailLat">Trail Latitude</label>
						<div class="input-group">
							<input type="number" class="form-control" name="TrailLat" id="TrailLat" placeholder="Trail Latitude" ng-model="trail.lat" required>
							<span class="input-group-addon group-addon-danger"><span class="glyphicon glyphicon-asterisk"></span></span>
						</div>
					</div>
					<div class="form-group">
						<label for="TrailLong">Trail Longitude</label>
						<div class="input-group">
							<input type="number" class="form-control" name="TrailLong" id="TrailLong" placeholder="Trail Latitude" ng-model="trail.lon" required>
							<span class="input-group-addon group-addon-danger"><span class="glyphicon glyphicon-asterisk"></span></span>
						</div>
					</div>
					<div class="form-group">
						<label for="TrailDist">Trail Distance</label>
						<div class="input-group">
							<input type="number" class="form-control" name="TrailDist" id="TrailDist" placeholder="Trail Distance" ng-model="trail.dist" required>
							<span class="input-group-addon group-addon-danger"><span class="glyphicon glyphicon-asterisk"></span></span>
						</div>
					</div>
					<div class="form-group">
						<label for="TrailDescript">Trail Description</label>
						<div class="input">
							<textarea class="form-control textarea-noresize" name="TrailDescript" id="TrailDescript" rows="5" ng-model="trail.descript"></textarea>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="btn btn-danger btn-block" ng-click="cancel()">cancel</div>
						</div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
							<div class="btn btn-success btn-block" ng-click="newTrail(trail)" ng-disabled="trail.$invalid">submit</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</header>

<footer></footer>